<ion-header>
  <ion-navbar>
    <ion-title>AccurateWeather</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>

  <p class="message" *ngIf="locationAllowed == false">Location is not enabled in your browser</p>
  <!-- *ngIf so it won't load until we had the weather && weather.weather data  -->
  <ion-grid *ngIf="weather && weather.weather">
    <ion-row>
      <ion-col>
        <h2 class="location">{{weather.name}}</h2>
        <div class="icon">
          <img src='http://openweathermap.org/img/w/{{weather.weather[0].icon}}.png' alt="">
        </div>
        <ion-row>
          <ion-col>
            <ion-list>
              <ion-item>
                <strong>Temp: </strong> {{ weather.main.temp }}C&deg;
              </ion-item>

              <ion-item>
                <strong>Description: </strong> {{weather.weather[0].description}}
              </ion-item>

              <ion-item>
                <strong>Humidity: </strong> {{weather.main.humidity}}
              </ion-item>

              <ion-item>
                <strong>Wind: </strong> {{weather.wind.speed}} m/s
              </ion-item>
              <ion-item>
                <strong>Lon: </strong> {{weather.coord.lon}}
              </ion-item>
              <ion-item>
                <strong>Lat: </strong> {{weather.coord.lat}}
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>